label{  
    display: none
}
.menu{
    margin-top:1.6em
}
.menu a{
    display: inline;
    padding:0em 0.5em;
    color:white;
    background-color: black
}
.menu a:hover{
    color:#b3b67f;
    transition-delay: 50ms;
    transition-duration: 800ms;
    transition-timing-function: ease-in-out
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start
}
.left img{
    width:56vw;
}
.right{
    width:42vw;
    margin-top:11.5em
}
.right h1{
    font-size: 2.6em
}
.right p{
    font-size:1.2em
}
.who, .background, .goals, .status{
    width:70em;
    line-height: 5.5em
}
.goals pre{
    font-size: 1.7em;
    text-align: center
}
form input{
    margin:1em;
    width:300px;
    font-size: 1.3em
}
footer{
    padding:3.5em 0em 1.5em 0em
}